body {
    background-color: #3787A8;
    font-family: calibri;
}
#style {
    position: relative;
}
#map {
    height: 800px;
    padding-top: 1px;
}

.h1 {
    font-size: 12px;
    text-align: left;
    line-height: 1;
    font-weight:bold;
}



/* Make the image responsive */
.container img {
  width: 100%;
  height: 100%;

}

.container{
	align-items: center;
	display: flex
}

.btn {
	display: inline-block;
	position:absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #3787A8;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
	font-size: 1.7vw;
	margin-top: auto;
	margin-bottom: auto;
	
}

#return{
	left:57%;
}

#rent{
	left:43%;
}

#route{
	left:45%;
}
 .btn:hover {
  background-color: #555;
}


#footer{
	width: 100%;
	z-index: 0;
	padding-top:2px;
}

#chart{
	width:400px;
	position: relative;

}

 

h1,h2{
  color:white;
}

div.rain::before {
    content:'\26C8';
    font-size:100px;
    
}
div.cloud::before {
    content:'\2601';
  font-size:50px;
    
}
.clear:before {
    content:'\2600';
    font-size:50px;
    
}

.row {
    color: aliceblue;
    font-size: 40px;
}

  html {
    font-family: "Avenir Next", Helevetica, sans-serif;
    text-align: center, color: aliceblue;
  }

