body {
    background-color: #3787A8;
    font-family: calibri;
}
#style {
    position: relative;
}
#map {
    height: 800px;
    padding-top: 1px;
}

.h1 {
    font-size: 12px;
    text-align: left;
    line-height: 1;
    font-weight:bold;
}



/* Make the image responsive */
.container img {
  width: 100%;
  height: 100%;

}

.container{
	align-items: center;
	display: flex
}

.btn {
	display: inline-block;
	position:absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #3787A8;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
	font-size: 1.7vw;
	margin-top: auto;
	margin-bottom: auto;
	
}

#return{
	left:57%;
}

#rent{
	left:43%;
}

#route{
	left:49%;
	display: inline;
	text-decoration: none;
}

#predict_form{
	left:50%;
	display: inline;
	font-size: 20px;	
}

 .btn:hover {
  background-color: #555;
}


#footer{
	width: 100%;
	z-index: 0;
	padding-top:2px;
}

#chart{
	width:400px;
	position: relative;

}

 

h1,h2{
  color:white;
}


td.rain::before {
    content: '\2602';
    font-size:100px;
    left: 50%
    
}
.cloud::before {
    content:'\2601';
  font-size:50px;
  
}
.clear:before {
    content:'\2600';
    font-size:50px;  
}

.row {
    color: aliceblue;
    font-size: 40px;
}



/*  WEATHER WIDGET CSS*/

#weather_container{
    width: 100%;
    height:auto;
    overflow: auto;
    
    
}
#header{
    color: white;
    font-size: 60px;
    background: linear-gradient(110deg, #3787A8 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #3677a8 70%, #3787A8  70%);
}

h3 { color: white;
	text-shadow: 1px 1px 0px #2c2e38, 2px 2px 0px black;
    padding-top: 10px;
    padding-left: 1px;
    padding-right: 1px;
    text-align: center;
    margin-bottom: 5%;
    
}



#pftable{
    width: 50%;
    margin-left: 15%;
    text-align-last: center;   
    font-size: 20px;
    text-transform:capitalize;
    background-color: black;
    border-radius: 40px;
    height: 300px;
    color: #fff;
    background: linear-gradient(110deg, #3787A8 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #3677a8 70%, #3787A8  70%);
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
}

#weather_info{
   
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    height:100%;
    float: left;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

   #pftable td {  
    width: 50px;
    padding: 0px 0px 0px 0px;
    position: relative;
    height:40px;
    border-bottom: 2px solid $lightGray;
    text-align: center;
    object-position: center;
    border: yellow; 1px;
    font-size: 25px;
       
}

.Outerbutton {
width:20%;
height: 200px;
margin-bottom:2%;
margin-right: 30%;
margin-left: 30%;
margin-bottom:5%;
margin-right: 0;   
}

.Innerbutton
 {
  width: 100%;
  height:200px;
  padding-bottom: 5%;
  border-radius: 50%;
border:10px solid white;
  overflow:hidden;  
}

.button {
  cursor: pointer;
  float:left;
  width:100%;
  height: 200px;
  padding-top:20%;
  padding-bottom:20%;
  line-height:1em;
  margin-top:-0.5em;  
  text-align:center;
  color:white;
  font-weight:bold;
  text-decoration:none;
  font-size: 30px;
  color: #fff;
 background: linear-gradient(110deg, #3787A8 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #3677a8 70%, #3787A8  70%);
}

.Innerbutton :hover {
     opacity: 0.5;}

#wicon10{
    width: 30px;
    height: 30px;
}

#td.icon{
    width: 50px;
    height: 50px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    padding-top: 0%
        
}

#weather_graph{
    width: 50%;
    height: inherit;
    background: yellow;
    float: right;
    border: red;
    
}
#twitter_widget{
    float: right;
    width: 100%;
    padding-right: 0%;
    margin-right: 0%;
    padding-top: 4px;
    padding-bottom: 4px;
    position: inherit;
    background: linear-gradient(110deg, #3787A8 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #3677a8 70%, #3787A8  70%);
}

h4{
    font-size: 70px;
    color: silver;
}

#flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

.wf_table{
    width: 80%;
    margin-left: 0;
    margin-right: 0%;
    margin-top: 3%;
    text-align-last: center;   
    font-size: 20px;
    text-transform:capitalize;
    background-color: black;
    border-collapse: collapse;
    border-radius: 40px;
    height: 300px;
    color: #fff;
    background: linear-gradient(110deg, #3787A8 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #3677a8 70%, #3787A8  70%);
    float:left;
    height: auto;
    position: relative;
    margin-bottom: 5%;
    display: none;
}

#wftable{color: white;
    
}

tr.day{
    
}

img.icon{ width: 70px;
    height:70px;
    
}

#twitter_box{
    float: left;
    margin-left: 5%;
}

button.twitter{
            background: orange;
    color: white;
    
}
.btn-weather {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width: 100;
}

#last_row{
    height:50px;
    font-size: 10px;
    padding: 0%, 0%, 0%, 0%;
}

.btn_wf{
    width: 20%;
    margin-left: 30%;
    margin-right: 30%;
    display:inline-block;
    height: 60px;
        background: linear-gradient(110deg, #3787A8 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #3677a8 70%, #3787A8  70%);
    margin-bottom: 2%;
    color: white;
    border-radius: 0%;
    font-size: 20px;
    cursor: help;   
}

.btn_wf :hover{
    opacity: 0.5;
}

#icon_{
    height:120px;
    width: 120px;
}


