body {
    background-color: #3787A8;
    font-family: calibri;
}
#style {
    position: relative;
}
#map {
    height: 800px;
    padding-top: 1px;
}

.h1 {
    font-size: 12px;
    text-align: left;
    line-height: 1;
    font-weight:bold;
}



/* Make the image responsive */
.container img {
  width: 100%;
  height: 100%;

}

.container{
	align-items: center;
	display: flex
}

.btn {
	display: inline-block;
	position:absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #3787A8;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
	font-size: 1.7vw;
	margin-top: auto;
	margin-bottom: auto;
	
}

#return{
	left:57%;
}

#rent{
	left:43%;
}

#route{
	left:49%;
	display: inline;
	text-decoration: none;
}

#predict_form{
	left:50%;
	display: inline;
	font-size: 20px;	
}

 .btn:hover {
  background-color: #555;
}


#footer{
	width: 100%;
	z-index: 0;
	padding-top:2px;
}

#chart{
	width:400px;
	position: relative;

}

 

h1,h2{
  color:white;
}


td.rain::before {
    content: '\2602';
    font-size:100px;
    left: 50%
    
}
.cloud::before {
    content:'\2601';
  font-size:50px;
  
}
.clear:before {
    content:'\2600';
    font-size:50px;  
}

.row {
    color: aliceblue;
    font-size: 40px;
}



/*  WEATHER WIDGET CSS*/

#weather_container{
    width: 100%;
    height:auto;
    
    
}
#header{
    color: white;
    font-size: 60px;
    background: linear-gradient(110deg, #3787A8 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #3677a8 70%, #3787A8  70%);
}

h3 { color: white;
	text-shadow: 1px 1px 0px #2c2e38, 2px 2px 0px black;
	font-family:monospace;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 1px;
    padding-right: 1px;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 5%;
    
}

.centerFlex {
  align-items: center;
  display: flex;
  justify-content: center;
}

#pftable{
    width: 60%;
/*    border: 1px solid black;*/
    margin-left: 0;
    margin-right: 0%;
    text-align-last: center;   
    font-size: 30px;
    text-transform:capitalize;
    background-color: black;
    border-radius: 40px;
    height: 300px;
    color: #fff;
    background: -webkit-linear-gradient(110deg, #3787A8 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
    background: -o-linear-gradient(110deg, #3787A8 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
    background: -moz-linear-gradient(110deg, #3787A8 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
    background: linear-gradient(110deg, #3787A8 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #3677a8 70%, #3787A8  70%);
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
}

#weather_info{
   
    padding-left: 20;
    width: 70%;
    height:100%;
    float: left;
    padding-left:%;
    align-items: center;
/*    display:  inline-block;*/
/*      display: inline-block;*/
  flex-direction: column;
  justify-content: center;
    
}
/*

.weatherWidget {
	display:  inline-block;
      display: flex;
  flex-direction: column;
  justify-content: center;

}
*/

/*
#icon {
    margin-left: 44%;
    margin-right: 40%;
    width: 15%;
    object-position: center;
    
}
*/

/*
#button{
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    object-position: center;
    margin-bottom: 2%;
    margin-top: 2%;
    height: 20%;
    width: 20%
    
}
*/



}

/*
.wrapper{
  width: 600px;
  height: 480px;
  margin: 10% auto;
  
  background-color: ;
  border-radius: 7px;
}
*/

   td {  
    width: 50px;
/*    padding: 20px 0px 35px 0px;*/
    position: relative;
    font-size: 1.5em;
    border-bottom: 2px solid $lightGray;
       text-align: center;
       object-position: center;
       border: yellow; 1px;
       
}

.Outerbutton {
width:40%;
height: 200px;
margin-left:%;
margin-bottom:5%;
margin-right: 0;
    
}

.Innerbutton
 {
  width: 100%;
  height:200px;
  padding-bottom: 5%;
  border-radius: 50%;
border:10px solid white;
  overflow:hidden;  
/*  box-shadow: 0 0 3px gray;*/
}

.Innerbutton:hover {
  background:#30588e;
}
.button {
cursor: pointer;

  display:block;
  float:left;
  width:100%;
height: 200px;
  padding-top:20%;
  padding-bottom:20%;
  line-height:1em;
  margin-top:-0.5em;  
  text-align:center;
  color:white;
  font-family:Verdana;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
font-size: 30px;
color: #fff;
    background: linear-gradient(110deg, #3787A8 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #3677a8 70%, #3787A8  70%);
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}







#wicon10{
    width: 30px;
    height: 30px;
}

#td.icon{
    width: 50px;
    height: 50px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    padding-top: 0%
        
}

#weather_graph{
    width: 50%;
    height: inherit;
    background: yellow;
    float: right;
    border: red;
    
}
#twitter_widget{
    float: right;
    width: 100%;
    padding-right: 0%;
    margin-right: 0%;
    padding-top: 4px;
    padding-bottom: 4px;
    position: inherit;
    background: linear-gradient(110deg, #3787A8 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #3677a8 70%, #3787A8  70%);
}

h4{
    font-size: 70px;
    color: silver;
}

#flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#wftable{
    width: 20%;
/*    border: 1px solid black;*/
    margin-left: 0;
    margin-right: 0%;
    margin-top: 3%;
    text-align-last: center;   
    font-size: 20px;
    text-transform:capitalize;
    background-color: black;
   border: 4px solid black;
    border-collapse: collapse;
    border-radius: 40px;
    height: 300px;
    color: #fff;
    background: linear-gradient(110deg, #3787A8 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #3677a8 70%, #3787A8  70%);
    float:left;
/*    display:inline-block;*/
    height: auto;
    position: relative;
    margin-bottom: 5%;
}

#wftable{color: white;
    
}

tr.day{
    
}

img.icon{ width: 70px;
    height:70px;
    
}

#twitter_box{
    margin-left: 80%
}

button.twitter{

    
}


