body {
    background-color: #3787A8;
    font-family: calibri;
}
#style {
    position: relative;
}
#map {
    height: 800px;
    padding-top: 1px;
}

.h1 {
    font-size: 12px;
    text-align: left;
    line-height: 1;
    font-weight:bold;
}



/* Make the image responsive */
.container img {
  width: 100%;
  height: 100%;

}

.container{
	align-items: center;
	display: flex
}

.btn {
	display: inline-block;
	position:absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #3787A8;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
	font-size: 1.7vw;
	margin-top: auto;
	margin-bottom: auto;
	
}

#return{
	left:57%;
}

#rent{
	left:43%;
}

#route{
	left:45%;
}
 .btn:hover {
  background-color: #555;
}


#footer{
	width: 100%;
	z-index: 0;
	padding-top:2px;
}

#chart{
	width:400px;
	position: relative;

}

 

h1,h2{
  color:white;
}

/*icon informatio*/
div.rain::before {
    content:'\26C8';
    font-size:100px;
    left: 50%
    
}
div.cloud::before {
    content:'\2601';
  font-size:50px;

    
}
.clear:before {
    content:'\2600';
    font-size:50px;

    
}

.row {
    color: aliceblue;
    font-size: 40px;
}

  html {
    font-family: "Avenir Next", Helevetica, sans-serif;
    text-align: center, color: aliceblue;
  }

/*  WEATHER WIDGET CSS*/

#button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor:default;
    border-radius: 40%;
}

#pftable{
    width: 50%;
    border: 1px solid black;
    margin-left: 25%;
    margin-right: 25%;
    text-align-last: center;   
    font-size: 20px;
    text-transform:capitalize;
    background-color: white;
    border: 4px solid black;
    border-collapse: collapse;
    border-radius: 12px;
}

tr:nth-child(odd){
    background-color: skyblue;
}

/*
.centerFlex {
  align-items: center;
  display: flex;
  justify-content: center;
}
*/

h3 { color: orangered;
	text-shadow: 1px 1px 0px #2c2e38, 2px 2px 0px black;
	font-family:monospace;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 60px;
    text-align: center;
}
#weather_container{
    position: relative;
    width: 50%;
    height: 600px;
}

.weatherWidget {
	display:  inline-block;
	font-family: "Droid Sans", arial
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;

}

#icon {
    margin-left: 44%;
    margin-right: 40%;
    width: 15%;
    object-position: center;
    
}

#button{
        margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    object-position: center;
    margin-bottom: 2%;
    margin-top: 2%;
    
}







