body {
    background-color: #3787A8;
    font-family: calibri;
}
#style {
    position: relative;
}
#map {
    height: 600px;
    padding-top: 1px;
}

.h1 {
    font-size: 12px;
    text-align: left;
    line-height: 1;
    font-weight:bold;
}



.container {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.container img {
  width: auto;
  height: 100%;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}


#footer{
	width: 100%;
	z-index: 0;
	padding-top:2px;
}