<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Dublin Bikes</title>

</head>

<body>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/CSS.css') }}">
    <header>
    </header>

    <!-- <script src="{{url_for('static', filename='Java/JS.js')}}"></script> -->
    
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    
    
    function myMap() {
    	 
       var myLongitude = {
            lat: 53.3498,
            lng: -6.2603
        };
    
    var map = new google.maps.Map(document.getElementById("map"), {
        center: myLongitude,
        zoom: 13
    });

    google.charts.load('current', {'packages':['corechart']});
    //google.charts.setOnLoadCallback(drawChart);  
    

  
       
        //map = new google.maps.Map(mapCanvas, mapOptions);
  //  	infoWindow = new google.maps.InfoWindow;
    	// Try HTML5 geolocation.
//
  //  	if (navigator.geolocation) {
    //		navigator.geolocation.getCurrentPosition(function(position) {
    	//		var pos = {
    		//		lat: position.coords.latitude,
    			//	lng: position.coords.longitude
    		//	};
   // 			infoWindow.setPosition(pos);
    //			infoWindow.setContent('Found you!');
    	//		map.setCenter(myLongitude);
   // 		}, function() {
    //			handleLocationError(true, infoWindow, map.getCenter());
    	//	});
    //	} else {
    		// Browser doesn't support Geolocation
    	//	handleLocationError(false, infoWindow, map.getCenter());
    	//}
        
        

        


        {% for stop in stops %}
        
    	var name = 'Name: {{ stop[2] }} Status: {{ stop[3]}} Available bike stands: {{ stop[4]}} Available bikes: {{ stop[5] }}';
        	
        var infoWindow = new google.maps.InfoWindow({
            content: ''
        });

   
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng({{ stop[0] }}, {{ stop[1] }}),
        });
        
        
       marker.content= " Status: {{ stop[3]}},      Last Updated: {{stop[6]}}",
       

        
       
        google.maps.event.addListener(marker, 'click', function() {
            if(!marker.open){   
            	var data = google.visualization.arrayToDataTable([
              	  ['Bikes', 'Data'],
              	  ['Available bike stands', {{ stop[4]}}],
              	  ['Available bikes', {{ stop[5] }}]
              	]);
              	  
              	  var options = {'title':'{{ stop[2] }}', pieHole:0.4
                          };

                  var node = document.createElement('div'),
                  infoWindow = new google.maps.InfoWindow(),
                  chart = new google.visualization.PieChart(node);

                  chart.draw(data, options);
                  infoWindow.setContent(node);
                  infoWindow.open(this.getMap(),this);
                  marker.open = true;
            }
            else{

            	  infoWindow.close();
            
            	}
         google.maps.event.addListener(map, 'click', function() {
                infoWindow.close(map, marker);
               marker.open = false;
           });
        });
       
        marker.setMap(map);
        

       
          
        {% endfor %}}
    

    
    </script>
	
    <!--  https://www.w3schools.com/graphics/google_maps_basic.asp  -->
    <div class="container">
    <img src = "{{ url_for('static',filename='Images/JustEatBikes.jpg') }}" alt="JustEat Bikes">
   
    <input type="button" value="Hello" class="btn" onClick="document.getElementById('map').scrollIntoView();" />
   </div>
    <div id="map">Unable to connect, please refresh</div>
   <img id="footer" src = "{{ url_for('static',filename='Images/footer.svg') }}" alt="Footer"> 
   
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU1JvWkSvhDQ_HuTNOfF9h7QMehuLRWmA&callback=myMap"> </script>
    </body>
</html>