<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title> Dublin Bikes</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/CSS.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


</head>

<body>
        
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <script type="text/javascript">
    
    
    
    
    function myMap() {
    	 
    	
    	
       var myLongitude = {
            lat: 53.3498,
            lng: -6.2603
        };
    
    var map = new google.maps.Map(document.getElementById("map"), {
        center: myLongitude,
        zoom: 14
    });

    google.charts.load('current', {'packages':['corechart']});
    //google.charts.setOnLoadCallback(drawChart);  
    

  
       
        //map = new google.maps.Map(mapCanvas, mapOptions);
  //  	infoWindow = new google.maps.InfoWindow;
    	// Try HTML5 geolocation.
//
  //  	if (navigator.geolocation) {
    //		navigator.geolocation.getCurrentPosition(function(position) {
    	//		var pos = {
    		//		lat: position.coords.latitude,
    			//	lng: position.coords.longitude
    		//	};
   // 			infoWindow.setPosition(pos);
    //			infoWindow.setContent('Found you!');
    	//		map.setCenter(myLongitude);
   // 		}, function() {
    //			handleLocationError(true, infoWindow, map.getCenter());
    	//	});
    //	} else {
    		// Browser doesn't support Geolocation
    	//	handleLocationError(false, infoWindow, map.getCenter());
    	//}
        
        
		mapMarkers=[];
        
		function setMarkers(view){
			
			for(i=0; i<mapMarkers.length; i++){
				mapMarkers[i].setMap(null);
			}
			mapMarkers=[];
	        
			{% for stop in stops %}
	        
	    	var name = 'Name: {{ stop[2] }} Status: {{ stop[3]}} Available bike stands: {{ stop[4]}} Available bikes: {{ stop[5] }}';
	        	
	        var infoWindow = new google.maps.InfoWindow({
	            content:  ''
	        });
	        
	        
	        if (view==0){
	        	if ({{ stop[4] }} == 0){
	        		markerColour = "red";
	        	} else if ({{ stop[4] }}/({{stop [5] }} + {{stop[4]}}) <0.9){
	        		markerColour = "orange";
	        	}else
	        		markerColour = "green";
	        }  
	        else{
	        	if ({{ stop[5] }} == 0){
	        		markerColour="red";
	        	} else if ({{ stop[5] }}/({{stop[4] }} + {{stop[5]}}) <0.9){
	        		markerColour = "orange";
	        	}else
	        		markerColour="green";
	        }
	        var marker = new google.maps.Marker({
	            position: new google.maps.LatLng({{ stop[0] }}, {{ stop[1] }}),
	        });
	        
	       marker.setIcon('http://maps.google.com/mapfiles/ms/icons/'+markerColour+'-dot.png')
	
	       marker.content= " Status: {{ stop[3]}},      Last Updated: {{stop[6]}}",
	       
			
	        
	       
	        google.maps.event.addListener(marker, 'click', function() {
	            if(!marker.open){   
	            	var data = google.visualization.arrayToDataTable([
	              	  ['Bikes', 'Data'],
	              	  ['Available bike stands', {{ stop[4]}}],
	              	  ['Available bikes', {{ stop[5] }}]
	              	]);
	              	  
	              	  var options = {'title':'{{ stop[2] }}',legend: 'value', pieSliceText: 'value', pieHole:0.4
	                          };
	
	                  var node = document.createElement('div');
	                  var html = "<div>"+
	                  "<input type='button'  value='More Information' onclick='displayDiv()' />"+ 
	                  "</div>";
	                  infoWindow = new google.maps.InfoWindow();
	                  chart = new google.visualization.PieChart(node);
	   
	
	                  chart.draw(data, options);
	                  infoWindow.setContent(html+node.outerHTML);
	                  infoWindow.open(this.getMap(),this);
	                  marker.open = true;
	            }
	            else{
	            	infoWindow.setContent(this.content);
	            	  infoWindow.close(this.getMap(),this);
	            	marker.open = false;
	            	}
	         google.maps.event.addListener(map, 'click', function() {
	                infoWindow.close(map, marker);
	               marker.open = false;
	           });
	        });
	       
	        marker.setMap(map);
	        mapMarkers.push(marker);
	
	       
	          
	        {% endfor %}
	        document.getElementById('map').scrollIntoView();
	        }
	        myMap.setMarkers=setMarkers;
       
    }
    
    </script>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
    
    if(typeof jQuery!=='undefined'){
    console.log('jQuery Loaded');
}
else{
    console.log('not loaded yet');
}
 $.getJSON("http://api.openweathermap.org/data/2.5/weather?APPID=52b3fcc8ca94382baa1747a7dde59108&q=Dublin", function(data) {
          console.log(data);  
     
     var dt = new Date();
     var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
     var hour = dt.getHours();
     var minutes = dt.getMinutes();
     console.log(hour)
     console.log(time);
    var ktemp = data.main.temp;
     console.log(ktemp);
      var ctemp = (ktemp - 273).toFixed(2);
      var ftemp = (ctemp * 9 / 5 + 32).toFixed(2);
   
    var description = data.weather[0].description;
     var main = data.weather[0].main;
    var wind = data['wind'].speed
    var humidity = data.main.humidity;
    console.log(main);

    
     
     var html = "";

     
        $("#wInfo").html(html);
        var tempid = $("#temp");
        tempid.html(ctemp + "<h4> &degC<h/4>");
        //toggle temp unit
        var tcheck = false;
        tempid.click(function() {
          if (tcheck === false) {
            tempid.html(ftemp + "&degF");
            tcheck = true;
          } else {
            tempid.html(ctemp + " &degC");
            tcheck = false;
          }
        });
     
     
     $("<td>" + data.dt + data.hour + data.minutes + "</td>").appendTo("#date");
    $("<tr><td>" + data.name + "</td></tr>").appendTo("#city");
//     $("<tr><td>" + description +  "</td></tr>").appendTo("#pftable");
     $("<tr><td>" + main + "</td><td>" + humidity + "%" + "</td><td>" + wind + " m/s" + "</td></tr>").appendTo("#pftable");
     
     
//     $("<tr><td>" + wind + " m/s" + "</td></tr>").appendTo("#pftable");
//     $("<tr><td>" + humidity + "</td><td>" + humidity + "</td></tr>").appendTo("#pftable");
     
     
             if (main = "Clouds"  && hour <= 20) {
          $('body').css({
            'background': 'url("static/Images/cloudy.jpg")',
            'background-size': 'cover'
          });
                 
        }
     else if (main = "Drizzle"  && hour <= 20)  {
          $('body').css({
            'background': 'url("static/Images/drizzle.jpg")',
            'background-size': 'cover'
              
          });

        }
     
              else if (main = "Rain"  && hour <= 20)  {
          $('body').css({
            'background': 'url("static/Images/Bike_Rain.jpg")',
            'background-size': 'cover'
              
          });

        }
    
             else if (main = "Clear"  && hour <= 20)  {
          $('body').css({
            'background': 'url("static/Images/calm.jpg")',
            'background-size': 'cover'
              
          });

        }
    
             else if (main = "Fog"  && hour <= 20)  {
          $('body').css({
            'background': 'url("static/Images/fog_dublin.jpg")',
            'background-size': 'cover'
              
          });

        }
    
             else if (main = "Mist"  && hour <= 20)  {
          $('body').css({
            'background': 'url("static/Images/atmosphere.jpg")',
            'background-size': 'cover'
              
          });

        }
    
             else if (main = "Clouds" && hour <= 20)  {
          $('#weather_container').css({
            'background': 'url("static/Images/cloudy-night.jpg")',
            'background-size': 'cover'
              
          });

        }
                  else if (main = "Clouds" && hour > 20)  {
          $('#weather_container').css({
            'background': 'url("static/Images/cloudy-night.jpg")',
            'background-size': 'cover'
              
          });

        }
    
             else if ((main = "Rain") && hour <= 20)  {
          $('body').css({
            'background': 'url("static/Images/rain.jpg")',
            'background-size': 'cover'
              
          });

        }
     
                  else if ((main = "Drizzle") && hour >= 20)  {
          $('body').css({
            'background': 'url("static/Images/rain.jpg)',
            'background-size': 'contain ' 
              
          });

        }
     
                       else if ((main = "Rain") && hour >= 20)  {
          $('#weather_container').css({
            'background': 'url("static/Images/rain.jpg")',
            'background-size': 'cover'
              
          });

        }
     
                       else if ((main = "Clear") && hour >= 20)  {
          $('body').css({
            'background': 'url("static/Images/calm-night.jpg")',
            'background-size': 'cover'
              
          });

        }
    

     var iconcode = data.weather[0].icon;
      var iconurl = "http://openweathermap.org/img/w/" + iconcode + ".png";
  $('#icon_').attr('src', iconurl);

     
        var iconDiv = $("#icon99");
     
     

//     var iconcode = data.weather[0].icon;
//    var iconurl = "http://openweathermap.org/img/w/" + iconcode + ".png";
//     $('#wicon').attr('src', iconurl);

     
console.log(main);
       switch (main) {
          case "Rain":
            iconDiv.toggleClass('rain');
            break;

          case "Clouds":
            iconDiv.toggleClass('cloud');
            break;
                
          case "Clear":
            iconDiv.toggleClass('clear');
            break;
        case "Drizzle":
            iconDiv.toggleClass('rain');
            break;
               
          default:
            iconDiv.toggleClass('clear');
      }

 });
    
$(document).ready(function(){
    $("#hide").click(function(){
        $("#twitter_widget").hide();
    });
    $("#show").click(function(){
        $("#twitter_widget").show();
    });
});

     $.getJSON("http://api.openweathermap.org/data/2.5/forecast?q=Dublin,ie&appid=52b3fcc8ca94382baa1747a7dde59108", function(data) {
          console.log(data);


     
     var times = data.list;
     var day1 = times[0];
     var day1Time = day1.dt_txt
     var day1Icon = day1.weather[0].icon;
     
          var day2 = times[7];
     var day2Time = day2.dt_txt
     var day2Icon = day2.weather[0].icon;
     
        var day3 = times[15];
     var day3Time = day3.dt_txt
     var day3Icon = day3.weather[0].icon;
     
          var day4 = times[23];
     var day4Time = day4.dt_txt
     var day4Icon = day4.weather[0].icon;
     
          var day5 = times[31];

     var day5Time = day5.dt_txt

     var day5Icon = day5.weather[0].icon;
     
     
   
   

 var iconurl1 = "http://openweathermap.org/img/w/" + day1Icon + ".png";
  $('#icon_day1').attr('src', iconurl1);
     
 var iconurl2 = "http://openweathermap.org/img/w/" + day2Icon + ".png";
  $('#icon_day2').attr('src', iconurl2);
     
     var iconurl3 = "http://openweathermap.org/img/w/" + day3Icon + ".png";
  $('#icon_day3').attr('src', iconurl3);
     
     var iconurl4 = "http://openweathermap.org/img/w/" + day4Icon + ".png";
  $('#icon_day4').attr('src', iconurl4);
     
      var iconurl5 = "http://openweathermap.org/img/w/" + day5Icon + ".png";
  $('#icon_day5').attr('src', iconurl5);

     

     
     
     
    $("<tr><td>" + day1Time + "</td></tr>").appendTo("#day1");
     $("<tr><td>" + day2Time + "</td></tr>").appendTo("#day2");
     $("<tr><td>" + day3Time + "</td></tr>").appendTo("#day3");
     $("<tr><td>" + day4Time + "</td></tr>").appendTo("#day4");
     $("<tr><td>" + day5Time + "</td></tr>").appendTo("#day5");
         
        
    $(document).ready(function(){
    $("#more_weather").click(function(){
       $("#wftable").slideDown("slow");
    });
     });


 })

        
</script>

<script>function displayDiv() {
   document.getElementById('weather_container').style.display = "block";
}</script>
	
    <!--  https://www.w3schools.com/graphics/google_maps_basic.asp  -->
    <div class="container">
    <img class ="image" src = "{{ url_for('static',filename='Images/JustEatBikes.jpg') }}" alt="JustEat Bikes">
	    <input type="button" id="return" value="Return a bike" class="btn" onClick="myMap.setMarkers(0)" />
	    <input type="button" id="rent" value="Rent a bike" class="btn" onClick="myMap.setMarkers(1)" /><br><br><br><br>
    	    <a href="directions"  id="route" class="btn" >Route Planner</a> 
    
    </div> 
    
    <div id="map">Unable to connect, please refresh</div>
    
    <div id = weather_container>
        
        <h3 id = "header" class = centreFlex>Just Eat Weather Information <i style="font-size:60px" class="fa">&#xf206;</i> </h3>
        
         <div id = "weather_info">
             
        
        
            <div class ="Outerbutton">
            <div class ="Innerbutton">
                <button id="temp" class = button> </button>
                </div>
            </div>
             


         <table id = "pftable" class = "wrapper">
            <tbody>
<!--                <caption id = "icon99" class = "icon99"></caption>-->
            <tr><td></td>
       <td> <img class = "icon" id="icon_" src="" alt="Weather icon"> </td>
                <td><button id = "more_weather"> 5 Day!</button></td>
              
               
            </tr>
             
<!--                <tr></tr>-->
                <tr>
                    
                    <td> Main <i class="fa fa-image" style="font-size:36px"></i> 
                    </td>
                    <td> Humidity <i class="fa fa-tint" style="font-size:36px"></i> 
                    </td>
                    <td> Wind <span>&#9780;</span>
                    </td>
                </tr>
                
             </tbody>
             
             </table>
             
                     <table id = "wftable">
            <tbody>
                <tr ><td> <img class = "icon" id="icon_day1" src="" alt="Weather icon"> </td></tr>
                <tr class ="day"><td id = "day1"></td></tr>
                
                <tr class ="icon"><td> <img id="icon_day2" src="" alt="Weather icon"> </td></tr>
                <tr class ="day"><td id = "day2" ></td></tr>
                
                <tr class ="icon"><td> <img id="icon_day3" src="" alt="Weather icon"> </td></tr>
                <tr class ="day"><td id = "day3"></td></tr>
                
                <tr class ="icon"><td> <img id="icon_day4" src="" alt="Weather icon"> </td></tr>
                <tr class ="day"><td id = "day4"></td></tr>
                
                <tr class ="icon"><td> <img id="icon_day5" src="" alt="Weather icon"> </td></tr>
                <tr class ="day"><td id = "day5"></td></tr>
                
            </tbody>
    </table>
             


            
       
</div>


<!--
                     <div id = "weather_graph" >
             <h3> this is where the graph will go</h3>
             </div>    
-->


        </div>
    
    <button class = twitter id="hide">Hide Traffic Updates</button>
    <button class = twitter  id="show">Show Traffic Updates</button> 
            <div id = "twitter_widget">

                <div id = "twitter_box">
                 
             <a class="twitter-timeline" data-height="150px" data-width= "25%" href="https://twitter.com/aaroadwatch?ref_src=twsrc%5Etfw">Tweets by aaroadwatch</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
           </div>  
        </div>



    
   <img id="footer" src = "{{ url_for('static',filename='Images/footer.svg') }}" alt="Footer"> 
   <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU1JvWkSvhDQ_HuTNOfF9h7QMehuLRWmA&callback=myMap"> </script>
    </body>
</html>


<!--<td id ="icon99"><img id="icon99" src="" alt="Weather icon">  </td>-->


<!--
<script src='//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script>
             <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 21,cityid: '2964574',appid: '52b3fcc8ca94382baa1747a7dde59108&q=Dublin',units: 'metric',containerid: 'openweathermap-widget-21',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>


-->